<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17451483765-igr4sughli1vjv54iltokl8ke6v2guhr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17451483765-igr4sughli1vjv54iltokl8ke6v2guhr</string>
	<key>API_KEY</key>
	<string>AIzaSyARt5yd1VE3bZcuN1JSonbUAIYfa6siMRc</string>
	<key>GCM_SENDER_ID</key>
	<string>17451483765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.qizlar.akademiyasi</string>
	<key>PROJECT_ID</key>
	<string>qizlar-akademiyasi</string>
	<key>STORAGE_BUCKET</key>
	<string>qizlar-akademiyasi.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17451483765:ios:dc45a59fe542c29ce76e3c</string>
</dict>
</plist>